<ion-header>
  <ion-toolbar color="primary"> <ion-title> Signup </ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <ion-card-header> Welcome to My Scale! </ion-card-header>
        <ion-card-content>
          <form>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Repeat Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-button expand="block" color="primary" class="small-margin">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Signup
            </ion-button>

            <ion-button expand="block" color="primary" href="/auth/login" class="small-margin">
              <ion-icon slot="start" name="log-in"></ion-icon>
              Login
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
